// 1. Your custom variables and variable overwrites.
$global-link-color: #da7d02;

$font-stack: Helvetica, sans-serif;

// https://hallister.github.io/semantic-react/#Button
$myCustomFonts_01: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #1b1c1d;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
